<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"  href="css/Accueil.css">
    </head>
    <body>
        <nav>
            <span>
                <a title = "Accueil">Accueil</a>
                <a title = "Portail Administrateur">Portail Administrateur</a>
                <a title = "Portail Restaurant">Portail Restaurant</a>
                <a title = "Connexion">Connexion</a>
                <a title = "Commande Anonyme">Commande Anonyme</a>
            </span>
        </nav>

        <h1>Eat It</h1>

        <table>
            <tr>
                <td>
                    <p>Conçu pour les restaurants, Eat It facilite la gestion de ces établissements.</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../image/resto.jpg" alt="resto" style="margin-left: 80%;">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Les clients ont accès au menu avec une interface spécialisée.</p>
                </td>
                    
            </tr>
            <tr>
                <td>
                    <img src="../image/food.jpg" alt="food" style="margin-left: 8%;">
                </td>
            </tr>
            <tr>
                <td> 
                    <p>Une compte pour les plus fidèles peut être créer afin de satisfaire aux besoins des clients.</p>
                </td>
                        
            </tr>
            <tr>
                <td>
                    <img src="../image/menu1.webp" alt="food" style="margin-left: 80%;">
                </td>
            </tr>
        </table>

        <div class="footer">
                <p>Contactez nous sur:</p>
                <ul>
                    <li>Christian.Nomena.Razakamahery@esti.mg</li>
                    <li>Mianoka.Fitia.Michèle.Ranarijaona@esti.mg</li>
                    <li>Miki.Henintsoa.Ramaroson@esti.mg</li>
                </ul>
                <p> &copy; Copyright by Christian, Mianoka, Miki</p>
        </div>

    </body>
</html>
